<!--
/**
 * Copyright (c) 2020  arvato Finance B.V.
 *
 * AfterPay reserves all rights in the Program as delivered. The Program
 * or any portion thereof may not be reproduced in any form whatsoever without
 * the written consent of AfterPay.
 *
 * Disclaimer:
 * THIS NOTICE MAY NOT BE REMOVED FROM THE PROGRAM BY ANY USER THEREOF.
 * THE PROGRAM IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
 * OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
 * THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE PROGRAM OR THE USE OR OTHER DEALINGS
 * IN THE PROGRAM.
 *
 * @category    AfterPay
 * @package     Afterpay_Payment
 * @copyright   Copyright (c) 2020 arvato Finance B.V.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label">
            <!--<div class="afterpay-logo"></div>-->
            <img data-bind="attr: {src: getPaymentIcon()}"
                 class="payment-icon smaller-icon"/>
            <span text="getTitle()"></span>
        </label>
    </div>
    <div class="payment-method-content">
        <p class="afterpay-description" data-bind="text: getDescription()"></p>
        <h1 class="afterpay-test-mode" data-bind="text: getTestmodeLabel(), visible: isTestmode() == true"></h1>
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="payment-method-additional-data field-select-billing">
            <fieldset class="fieldset">
                <div class="field required">
                    <label data-bind="attr: {'for': getCode() + '_bank_code'}" class="label">
                        <span><!-- ko i18n: 'Installment:' --><!-- /ko --></span>
                    </label>
                    <select name="payment[installment]"
                            class="installment"
                            data-bind="attr: {'id': getCode() + '_installment'},
                            options: installments(),
                            optionsText: 'optionText',
                            value: installment">
                    </select>
                    <ul>
                        <li data-bind="i18n: 'Same amount every month, no surprises'"></li>
                        <li data-bind="i18n: 'You can pay the total balance at anytime you want'"></li>
                        <li>
                            <!-- ko i18n: 'Fix interest rate of:' --><!-- /ko -->
                            <span data-bind="text: ' ' + installment().interestRate + '%'"></span>
                        </li>
                        <li>
                            <!-- ko i18n: 'Effective interest rate of:' --><!-- /ko -->
                            <span data-bind="text: ' ' + installment().effectiveInterestRate + '%'"></span>
                        </li>
                        <li>
                            <!-- ko i18n: 'Total cost of:' --><!-- /ko -->
                            <span data-bind="text: ' ' + installment().totalAmount"></span>
                        </li>
                    </ul>
                </div>
            </fieldset>
            <fieldset data-bind="visible: canShowNumber()" class="fieldset">
                <div class="field required required-input-entry">
                    <label data-bind="attr: {'for': getCode() + '_tel_number'}" class="label">
                        <span><!-- ko i18n: 'Phone Number' --><!-- /ko --></span>
                    </label>
                    <input type="text" name="payment[customer_telephone]" class="required-entry"
                           data-bind="attr: {'id': getCode() + '_tel_number'},
                            value: telNumber"
                           data-validate="{required:true}"/>
                </div>
            </fieldset>
            <fieldset data-bind="visible: canShowCoc()" class="fieldset">
                <div class="field required required-input-entry">
                    <label data-bind="attr: {'for': getCode() + '_coc_number'}" class="label">
                        <span><!-- ko i18n: 'COC Number:' --><!-- /ko --></span>
                    </label>
                    <input type="text" name="payment[coc_number]" class="required-entry"
                           data-bind="attr: {'id': getCode() + '_coc_number'},
                            value: cocNumber"
                           data-validate="{required:true}"/>
                </div>
            </fieldset>
            <fieldset data-bind="visible: canShowBankaccount()" class="fieldset">
                <div class="field required required-input-entry">
                    <label data-bind="attr: {'for': getCode() + 'bankaccountnumber'}" class="label">
                        <span><!-- ko i18n: 'Bank Account Number  (IBAN)' --><!-- /ko --></span>
                    </label>
                    <input type="text" name="payment[bankaccountnumber]" class="required-entry"
                           data-bind="attr: {'id': getCode() + '_bankaccountnumber'},
                           value: bankaccountNumber"
                    />
                </div>
            </fieldset>
            <fieldset data-bind="visible: canShowBankCode()" class="fieldset">
                <div class="field required required-input-entry">
                    <label data-bind="attr: {'for': getCode() + '_bank_code'}" class="label">
                        <span><!-- ko i18n: 'BIC / Swift:' --><!-- /ko --></span>
                    </label>
                    <input type="text" name="payment[bank_code]" class="required-entry"
                           data-bind="attr: {'id': getCode() + '_bank_code'},
                            value: bankCode"
                           data-validate="{required:true}"/>
                </div>
            </fieldset>
            <fieldset data-bind="visible: canShowSsn()" class="fieldset">
                <div class="field required required-input-entry">
                    <label data-bind="attr: {'for': getCode() + 'ssn'}" class="label">
                        <span><!-- ko i18n: 'Social Security Number' --><!-- /ko --></span>
                    </label>
                    <input type="text" name="payment[ssn]" class="required-entry"
                           data-bind="attr: {'id': getCode() + '_ssn'},
                           value: ssn"
                           data-validate="{required:true}"
                    />
                </div>
            </fieldset>
            <fieldset data-bind="visible: canShowGender()" class="fieldset">
                <div class="field required">
                    <label data-bind="attr: {'for': getCode() + '_gender'}" class="label">
                        <span><!-- ko i18n: 'Select Gender' --><!-- /ko --></span>
                    </label>
                    <select name="payment[gender]"
                            class="required-entry admin__control-select"
                            data-bind="attr: {'id': getCode() + '_gender'},
                            options: getGenderValues(),
                            optionsValue: 'optionValue',
                            optionsText: 'optionText',
                            value: customerGender">
                    </select>
                </div>
            </fieldset>
            <fieldset data-bind="visible: canShowConditions()"
                      class="fieldset field-select-billing terms-and-conditions">
                <div class="field required">
                    <input type="checkbox" value="terms_and_conditions"
                           data-bind="attr: {'id': getCode() + '_termsAndConditions'}, checked: termsAndConditions"
                           name="payment[terms_and_conditions]"
                           data-validate="{required:true}"
                    />
                    <label data-bind="for: getCode() +  '_termsAndConditions'" class="label">
                        <!-- ko if:  canShowPrivacy() -->
                            <!-- ko i18n: 'Ich habe die' --><!-- /ko --> <a
                                data-bind="attr: {'href': getConditionsLink(), 'target': '_blank'}">
                            <!-- ko i18n: 'Allgemeinen Geschäftsbedingungen' --><!-- /ko --></a>
                            <!-- ko i18n: 'und die' --><!-- /ko --> <a
                                data-bind="attr: {'href': getPrivacystatementLink(), 'target': '_blank'}">
                            <!-- ko i18n: 'Datenschutzerklärung' --><!-- /ko --></a>
                            <!-- ko i18n: 'von AfterPay gelesen und akzeptiere diese.' --><!-- /ko -->
                        <!-- /ko -->
                        <!-- ko ifnot:  canShowPrivacy() -->
                            <!-- ko i18n: 'I agree with the' --><!-- /ko --> <a
                                data-bind="attr: {'href': getConditionsLink(), 'target': '_blank'}">
                            <!-- ko i18n: 'payment conditions' --><!-- /ko --> </a><!-- ko i18n: 'of AfterPay' -->
                            <!-- /ko -->
                        <!-- /ko -->
                    </label>
                </div>
            </fieldset>
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowedAfterpay()}
                        ">
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>